<ion-header>
  <ion-toolbar>
    <ion-title>成员详情</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content> 
  <ion-card>
    <ion-item> 
        <ion-avatar slot="start">
          <img src="../../../../assets/icon/favicon.png">
        </ion-avatar>
        <ion-label>
          <h2>姓名</h2>
          <h3>190327080</h3> 
        </ion-label>
      </ion-item>
  </ion-card>
  <ion-card>
    <ion-item>
      <ion-label>签到</ion-label>
      <ion-label>80%</ion-label>
    </ion-item>
    
    <ion-item>
      <ion-label>经验值</ion-label>
      <ion-label>90%</ion-label>
    </ion-item>
  </ion-card>
</ion-content>