<ion-header>
  <ion-toolbar>
    <ion-title  style=text-align:center>成绩统计</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item  *ngFor="let item of addlist"  (click)="scoredetail(item.orgCode)" ><!--用href的话 动态可能就要动态拼接url了-->
    <ion-avatar slot="start" >
      <img src="../../assets/icon/favicon.png">
    </ion-avatar>
    <ion-label>
      <!-- <h2>{{item.cloudClass.className}}</h2>
      <h3>{{item.cloudClass.teacherName}}</h3>
      <p>{{item.cloudClass.grade}}</p> -->
      <h3>课程名：{{item.cloudClass.className}}</h3>
      <h3>教师：{{item.cloudClass.teacherName}}</h3>
      <h3>班课号：{{item.orgCode}}</h3>
    </ion-label>
    <ion-label style="text-align:right " slot="end">
      <h2>{{item.sumScore}}</h2>
    </ion-label>
  </ion-item> 
</ion-content>