.ion-color-favorite {
  --ion-color-base: #44d9e6;
  --ion-color-base-rgb: 68,217,230;
  --ion-color-contrast: #ffffff;
  --ion-color-contrast-rgb: 255,255,255;
  --ion-color-shade: #44d9e6;
  --ion-color-tint: #44d9e6;
}

img{
  height: 100%;
}
