<!-- <ion-content *ngIf="type==0">
  <ion-list class="inp" style="margin-top:30px auto;">
    <ion-item padding >
     <ion-input type="text" placeholder="学校"></ion-input>
     <ion-button    shape="round">
       Click me
     </ion-button>
    </ion-item> 
    <ion-item padding  (click)="gettec(schid)">
      <ion-label>福州大学</ion-label> 
    </ion-item> 
    <ion-item padding >
      <ion-label>厦门大学</ion-label> 
    </ion-item> 
    <ion-item padding > 
      <ion-text> 福州职业技术学院华侨分校
      </ion-text>
    </ion-item> 
    

    <ion-item padding > 
      <ion-text  > 福州职业技术学院华侨分校
      </ion-text>
    </ion-item> <ion-item padding > 
      <ion-text  > 福州职业技术学院华侨分校
      </ion-text>
    </ion-item> <ion-item padding > 
      <ion-text  > 福州职业技术学院华侨分校
      </ion-text>
    </ion-item> <ion-item padding > 
      <ion-text  > 福州职业技术学院华侨分校
      </ion-text>
    </ion-item> 
    <ion-item padding >
      <ion-label>福州大学</ion-label> 
    </ion-item> 

  </ion-list> 

</ion-content> 
<ion-content *ngIf="type==1">
  <ion-list>
    <ion-item padding (click)=" backdata(data)"> 
      <ion-text  >计算机科学与技术 </ion-text>
    </ion-item> 
    
    <ion-item padding > 
      <ion-text  > 生物工程 </ion-text>
    </ion-item> 
    
    <ion-item padding > 
      <ion-text  > 网络工程 </ion-text>
    </ion-item> 
  </ion-list>
</ion-content> -->