<ion-content  >
  <ion-card style="text-align: center;">
    <ion-item style="text-align: center;" >
      <ion-label>
        <h3  >需求分析</h3>  
      </ion-label>
    </ion-item>
    <ion-item style="text-align: center;" > 
        <ion-text  >
         完成app和后台需求文档，并提交内容
        </ion-text> 
    </ion-item>
  </ion-card>
  <ion-list>  <ion-item color="secondary">
    <ion-label>已提交</ion-label>
    <ion-label  >44/50</ion-label>
  </ion-item> 
  <ion-item > 
    <ion-label> 
     梁飞飞
    </ion-label>    
    <ion-select value="成功签到" placeholder="Select Pizza">
      <ion-select-option value="迟到">迟到</ion-select-option>
      <ion-select-option value="请假">请假</ion-select-option>
      <ion-select-option value="旷课">旷课</ion-select-option>
      <ion-select-option value="成功签到">成功签到</ion-select-option>
    </ion-select> 
  </ion-item>
  <ion-item > 
    <ion-label> 
     小飞飞
    </ion-label>    
    <ion-select value="成功签到" placeholder="Select Pizza">
      <ion-select-option value="迟到">迟到</ion-select-option>
      <ion-select-option value="请假">请假</ion-select-option>
      <ion-select-option value="旷课">旷课</ion-select-option>
      <ion-select-option value="成功签到">成功签到</ion-select-option>
    </ion-select> 
  </ion-item>
  
  <ion-item > 
    <ion-label> 
     大飞飞
    </ion-label>    
    <ion-select value="成功签到" placeholder="Select Pizza">
      <ion-select-option value="迟到">迟到</ion-select-option>
      <ion-select-option value="请假">请假</ion-select-option>
      <ion-select-option value="旷课">旷课</ion-select-option>
      <ion-select-option value="成功签到">成功签到</ion-select-option>
    </ion-select> 
  </ion-item>
  <ion-item color="secondary">
    <ion-label>未提交</ion-label>
    <ion-label  >6/50</ion-label>
  </ion-item> 
  <ion-item > 
    <ion-label> 
     吴同学
    </ion-label>    
    <ion-select value="迟到"   placeholder="Select Pizza">
      <ion-select-option value="迟到">迟到</ion-select-option>
      <ion-select-option value="请假">请假</ion-select-option>
      <ion-select-option value="旷课">旷课</ion-select-option>
      <ion-select-option value="成功签到">成功签到</ion-select-option>
    </ion-select> 
  </ion-item>
  <ion-item > 
    <ion-label> 
     吴小李
    </ion-label>    
    <ion-select value="迟到"   placeholder="Select Pizza">
      <ion-select-option value="迟到">迟到</ion-select-option>
      <ion-select-option value="请假">请假</ion-select-option>
      <ion-select-option value="旷课">旷课</ion-select-option>
      <ion-select-option value="成功签到">成功签到</ion-select-option>
    </ion-select> 
  </ion-item>
  <ion-item > 
    <ion-label> 
     阿牛
    </ion-label>    
    <ion-select value="迟到"   placeholder="Select Pizza">
      <ion-select-option value="迟到">迟到</ion-select-option>
      <ion-select-option value="请假">请假</ion-select-option>
      <ion-select-option value="旷课">旷课</ion-select-option>
      <ion-select-option value="成功签到">成功签到</ion-select-option>
    </ion-select> 
  </ion-item>
  <ion-item > 
    <ion-label> 
     林飞飞
    </ion-label>    
    <ion-select value="迟到" placeholder="Select Pizza">
      <ion-select-option value="迟到">迟到</ion-select-option>
      <ion-select-option value="请假">请假</ion-select-option>
      <ion-select-option value="旷课">旷课</ion-select-option>
      <ion-select-option value="成功签到">成功签到</ion-select-option>
    </ion-select> 
  </ion-item>
  
 

</ion-list>
</ion-content>