<ion-header > 
  <ion-toolbar>
    <a (click)="dismiss()"> 《返回 </a> 
    <ion-title>签到记录</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content *ngIf="type==0">
  <ion-card style="text-align: center;">
    <ion-item style="text-align: center;" (click)="godao()">
      <ion-label>发起签到</ion-label>
    </ion-item>
  </ion-card>
  
  <ion-list *ngIf="type==0">
    <ion-item >
      <ion-label>历史签到记录</ion-label>
      <ion-label  >{{arrSize}}次</ion-label>
    </ion-item> 
    <ion-item (click)="recordetail(arr.activityId,arr.isActive,arr.beginDate)" *ngFor="let arr of arrivals"> 
 
       <h4>{{arr.beginDate}}</h4>  
       <span *ngIf="arr.isActive==1">正在进行</span>
       <span *ngIf="arr.isActive==0">已结束</span> 
    </ion-item> 
   
  </ion-list>
</ion-content>
<ion-content *ngIf="type==1">
  <ion-card style="text-align: center;">
    <ion-item style="text-align: center;" >
      <ion-label>
        <h3>{{Nowdate}} </h3>  
      </ion-label>
    </ion-item>
    <ion-item style="text-align: center;" *ngIf="arrActivity==true" (click)="endActivity(2)">
      <ion-label>
        <h1>结束签到</h1>
      </ion-label>
    </ion-item>
  </ion-card>
  <ion-list> 
  <ion-item color="secondary">
    <ion-label>缺勤记录</ion-label>
    <!-- <ion-label  >6/50</ion-label> -->
  </ion-item> 
  <ion-item  *ngFor="let stuNoPar of stuCaseListNoPar"   >
    <ion-avatar slot="start" >
      <img src="../../assets/icon/favicon.png">
    </ion-avatar>
    <ion-label>
      <h2>{{stuNoPar.username}}</h2> 
    </ion-label>
  </ion-item> 
  <ion-item color="secondary">
    <ion-label>成功签到</ion-label> 
  </ion-item> 
  <ion-item  *ngFor="let stuPar of stuCaseListPar"   >
    <ion-avatar slot="start" >
      <img src="../../assets/icon/favicon.png">
    </ion-avatar>
    <ion-label>
      <h2>{{stuPar.username}}</h2> 
    </ion-label>
  </ion-item> 

</ion-list>
</ion-content>
<ion-content *ngIf="type==2">
  <ion-button  (click)="arrive(1)" expand="block"   shape="round">
    一键签到
  </ion-button>
  <ion-button (click)="changearrive(2)" expand="block"   shape="round">
    密码签到
  </ion-button>
  <!-- <ion-button   (click)="arrive(2)" expand="block"  shape="round">
    定时签到
  </ion-button>   -->
 
      <ion-list class="inp" style="margin-top:30px auto;">
        <ion-item padding >
          <ion-label>签到分</ion-label>
          <ion-input type="text" placeholder="请输入本次签到得分" [(ngModel)]="activity.maxscore"></ion-input>
        </ion-item> 
        <ion-item>
          <ion-label>距离/米</ion-label>
          <ion-input type="text" placeholder="请输入本次签到的最大范围" [(ngModel)]="activity.maxDist"></ion-input>
        </ion-item> 
 </ion-list>
</ion-content>

<ion-content *ngIf="type==3">
  
  <ion-card style="text-align: center;"  > 
    <h2>{{hour}}:{{minite}}:{{second}}</h2>
    <ion-item style="text-align: center;" (click)="endActivity(1)">
      <ion-label>
        <h1>结束签到</h1>
      </ion-label>
    </ion-item>
  </ion-card>
</ion-content>

<ion-content *ngIf="type==4">
  
  <ion-card style="text-align: center;"  > 
    <ion-item>
      <ion-label>密码:</ion-label>
      <ion-input type="text"  [(ngModel)]="activity.answer" placeholder="请输入签到密码"></ion-input>
    </ion-item>
    <ion-item style="text-align: center;" (click)="arrive(3)">
      <ion-label>
        <h1>发布签到</h1>
      </ion-label>
    </ion-item>
  </ion-card>
</ion-content>