www
<!-- 
<ion-card style="text-align: center;">
  <h1>您的经验值：50</h1>
</ion-card>
<ion-item>
  <ion-button (click)="gorecord()" style="width:30%;"  shape="round">
    签到
  </ion-button>
</ion-item>
<ion-list >
  <ion-item (click)="stums">
    <ion-label> 
      成员数量
    </ion-label>
    <ion-label style="float:right;"> 
      50人
    </ion-label>
  </ion-item>
</ion-list>
<ion-list>
  <ion-item  (click)="studetail()">
    <ion-avatar slot="start">
      <img src="../../../../assets/icon/favicon.png">
    </ion-avatar>
    <ion-label>
      <h2>姓名</h2>
      <h3>学号</h3> 
    </ion-label>
    <ion-label>
      <h2>经验值</h2> 
    </ion-label>
    
    <ion-label>
      <ion-icon name="arrow-forward-outline"></ion-icon>
    </ion-label> 
  </ion-item>
  
  <ion-item>
    <ion-avatar slot="start">
      <img src="../../../../assets/icon/favicon.png">
    </ion-avatar>
    <ion-label>
      <h2>姓名</h2>
      <h3>学号</h3> 
    </ion-label>
    <ion-label>
      <h2>经验值</h2> 
    </ion-label>
    
    <ion-label>
      <ion-icon name="arrow-forward-outline"></ion-icon>
    </ion-label> 
  </ion-item>
  <ion-item>
    <ion-avatar slot="start">
      <img src="../../../../assets/icon/favicon.png">
    </ion-avatar>
    <ion-label>
      <h2>姓名</h2>
      <h3>学号</h3> 
    </ion-label>
    <ion-label>
      <h2>经验值</h2> 
    </ion-label>
    
    <ion-label>
      <ion-icon name="arrow-forward-outline"></ion-icon>
    </ion-label> 
  </ion-item> <ion-item>
    <ion-avatar slot="start">
      <img src="../../../../assets/icon/favicon.png">
    </ion-avatar>
    <ion-label>
      <h2>姓名</h2>
      <h3>学号</h3> 
    </ion-label>
    <ion-label>
      <h2>经验值</h2> 
    </ion-label>
    
    <ion-label>
      <ion-icon name="arrow-forward-outline"></ion-icon>
    </ion-label> 
  </ion-item> <ion-item>
    <ion-avatar slot="start">
      <img src="../../../../assets/icon/favicon.png">
    </ion-avatar>
    <ion-label>
      <h2>姓名</h2>
      <h3>学号</h3> 
    </ion-label>
    <ion-label>
      <h2>经验值</h2> 
    </ion-label>
    
    <ion-label>
      <ion-icon name="arrow-forward-outline"></ion-icon>
    </ion-label> 
  </ion-item> <ion-item>
    <ion-avatar slot="start">
      <img src="../../../../assets/icon/favicon.png">
    </ion-avatar>
    <ion-label>
      <h2>姓名</h2>
      <h3>学号</h3> 
    </ion-label>
    <ion-label>
      <h2>经验值</h2> 
    </ion-label>
    
    <ion-label>
      <ion-icon name="arrow-forward-outline"></ion-icon>
    </ion-label> 
  </ion-item> <ion-item>
    <ion-avatar slot="start">
      <img src="../../../../assets/icon/favicon.png">
    </ion-avatar>
    <ion-label>
      <h2>姓名</h2>
      <h3>学号</h3> 
    </ion-label>
    <ion-label>
      <h2>经验值</h2> 
    </ion-label>
    
    <ion-label>
      <ion-icon name="arrow-forward-outline"></ion-icon>
    </ion-label> 
  </ion-item> <ion-item>
    <ion-avatar slot="start">
      <img src="../../../../assets/icon/favicon.png">
    </ion-avatar>
    <ion-label>
      <h2>姓名</h2>
      <h3>学号</h3> 
    </ion-label>
    <ion-label>
      <h2>经验值</h2> 
    </ion-label>
    
    <ion-label>
      <ion-icon name="arrow-forward-outline"></ion-icon>
    </ion-label> 
  </ion-item> <ion-item>
    <ion-avatar slot="start">
      <img src="../../../../assets/icon/favicon.png">
    </ion-avatar>
    <ion-label>
      <h2>姓名</h2>
      <h3>学号</h3> 
    </ion-label>
    <ion-label>
      <h2>经验值</h2> 
    </ion-label>
    
    <ion-label>
      <ion-icon name="arrow-forward-outline"></ion-icon>
    </ion-label> 
  </ion-item> <ion-item>
    <ion-avatar slot="start">
      <img src="../../../../assets/icon/favicon.png">
    </ion-avatar>
    <ion-label>
      <h2>姓名</h2>
      <h3>学号</h3> 
    </ion-label>
    <ion-label>
      <h2>经验值</h2> 
    </ion-label>
    
    <ion-label>
      <ion-icon name="arrow-forward-outline"></ion-icon>
    </ion-label> 
  </ion-item> <ion-item>
    <ion-avatar slot="start">
      <img src="../../../../assets/icon/favicon.png">
    </ion-avatar>
    <ion-label>
      <h2>姓名</h2>
      <h3>学号</h3> 
    </ion-label>
    <ion-label>
      <h2>经验值</h2> 
    </ion-label>
    
    <ion-label>
      <ion-icon name="arrow-forward-outline"></ion-icon>
    </ion-label> 
  </ion-item> <ion-item>
    <ion-avatar slot="start">
      <img src="../../../../assets/icon/favicon.png">
    </ion-avatar>
    <ion-label>
      <h2>姓名</h2>
      <h3>学号</h3> 
    </ion-label>
    <ion-label>
      <h2>经验值</h2> 
    </ion-label>
    
    <ion-label>
      <ion-icon name="arrow-forward-outline"></ion-icon>
    </ion-label> 
  </ion-item> <ion-item>
    <ion-avatar slot="start">
      <img src="../../../../assets/icon/favicon.png">
    </ion-avatar>
    <ion-label>
      <h2>姓名</h2>
      <h3>学号</h3> 
    </ion-label>
    <ion-label>
      <h2>经验值</h2> 
    </ion-label>
    
    <ion-label>
      <ion-icon name="arrow-forward-outline"></ion-icon>
    </ion-label> 
  </ion-item> <ion-item>
    <ion-avatar slot="start">
      <img src="../../../../assets/icon/favicon.png">
    </ion-avatar>
    <ion-label>
      <h2>姓名</h2>
      <h3>学号</h3> 
    </ion-label>
    <ion-label>
      <h2>经验值</h2> 
    </ion-label>
    
    <ion-label>
      <ion-icon name="arrow-forward-outline"></ion-icon>
    </ion-label> 
  </ion-item> <ion-item>
    <ion-avatar slot="start">
      <img src="../../../../assets/icon/favicon.png">
    </ion-avatar>
    <ion-label>
      <h2>姓名</h2>
      <h3>学号</h3> 
    </ion-label>
    <ion-label>
      <h2>经验值</h2> 
    </ion-label>
    
    <ion-label>
      <ion-icon name="arrow-forward-outline"></ion-icon>
    </ion-label> 
  </ion-item> <ion-item>
    <ion-avatar slot="start">
      <img src="../../../../assets/icon/favicon.png">
    </ion-avatar>
    <ion-label>
      <h2>姓名</h2>
      <h3>学号</h3> 
    </ion-label>
    <ion-label>
      <h2>经验值</h2> 
    </ion-label>
    
    <ion-label>
      <ion-icon name="arrow-forward-outline"></ion-icon>
    </ion-label> 
  </ion-item> <ion-item>
    <ion-avatar slot="start">
      <img src="../../../../assets/icon/favicon.png">
    </ion-avatar>
    <ion-label>
      <h2>姓名</h2>
      <h3>学号</h3> 
    </ion-label>
    <ion-label>
      <h2>经验值</h2> 
    </ion-label>
    
    <ion-label>
      <ion-icon name="arrow-forward-outline"></ion-icon>
    </ion-label> 
  </ion-item> <ion-item>
    <ion-avatar slot="start">
      <img src="../../../../assets/icon/favicon.png">
    </ion-avatar>
    <ion-label>
      <h2>姓名</h2>
      <h3>学号</h3> 
    </ion-label>
    <ion-label>
      <h2>经验值</h2> 
    </ion-label>
    
    <ion-label>
      <ion-icon name="arrow-forward-outline"></ion-icon>
    </ion-label> 
  </ion-item> <ion-item>
    <ion-avatar slot="start">
      <img src="../../../../assets/icon/favicon.png">
    </ion-avatar>
    <ion-label>
      <h2>姓名</h2>
      <h3>学号</h3> 
    </ion-label>
    <ion-label>
      <h2>经验值</h2> 
    </ion-label>
    
    <ion-label>
      <ion-icon name="arrow-forward-outline"></ion-icon>
    </ion-label> 
  </ion-item>
  <ion-item>
    <ion-avatar slot="start">
      <img src="../../../../assets/icon/favicon.png">
    </ion-avatar>
    <ion-label>
      <h2>姓名</h2>
      <h3>学号</h3> 
    </ion-label>
    <ion-label>
      <h2>经验值</h2> 
    </ion-label>
    
    <ion-label>
      <ion-icon name="arrow-forward-outline"></ion-icon>
    </ion-label> 
  </ion-item>
  
  <ion-item>
    <ion-avatar slot="start">
      <img src="../../../../assets/icon/favicon.png">
    </ion-avatar>
    <ion-label>
      <h2>姓名</h2>
      <h3>学号</h3> 
    </ion-label>
    <ion-label>
      <h2>经验值</h2> 
    </ion-label>
    
    <ion-label>
      <ion-icon name="arrow-forward-outline"></ion-icon>
    </ion-label> 
  </ion-item>
  
  <ion-item>
    <ion-avatar slot="start">
      <img src="../../../../assets/icon/favicon.png">
    </ion-avatar>
    <ion-label>
      <h2>姓名</h2>
      <h3>学号</h3> 
    </ion-label>
    <ion-label>
      <h2>经验值</h2> 
    </ion-label>
    
    <ion-label>
      <ion-icon name="arrow-forward-outline"></ion-icon>
    </ion-label> 
  </ion-item>
  
  <ion-item>
    <ion-avatar slot="start">
      <img src="../../../../assets/icon/favicon.png">
    </ion-avatar>
    <ion-label>
      <h2>姓名</h2>
      <h3>学号</h3> 
    </ion-label>
    <ion-label>
      <h2>经验值</h2> 
    </ion-label>
    
    <ion-label>
      <ion-icon name="arrow-forward-outline"></ion-icon>
    </ion-label> 
  </ion-item>
 
</ion-list> -->