<ion-header>
  <ion-toolbar>
    <ion-title  style=text-align:center>关于我们</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header style=text-align:center>
      <img src="assets/image/peo.png"/>
    </ion-card-header>
    
    <ion-card-header>
      <!-- <ion-card-subtitle><h2>03小组</h2></ion-card-subtitle> -->
      <ion-card-title style=text-align:center>云课通项目-18小组</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      组员成员：李凌凯、陈谨雯、卢恺翔、陈文垚
    </ion-card-content>

    <ion-card-content>
      <h2> 任务分配：</h2>
      <h2> 产品经理：李凌凯；</h2>
      <h2> 后端：卢恺翔；</h2>
      <h2> 前端：陈谨雯；</h2>
      <h2> 移动端：陈文垚</h2>
    </ion-card-content>
      
    <ion-card-content>
      <h2>感谢池老师和陈学长这学期的指导与帮助，非常感谢！！！</h2>
    </ion-card-content>
  </ion-card>
  <app-copyright [bottom]="'20px'"></app-copyright>
</ion-content>
