<ion-header>
  <ion-toolbar>
    <ion-title  style=text-align:center>关于我们</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <img src="assets/image/peo.png" />
    <ion-card-header>
      <ion-card-subtitle><h2>03小组</h2></ion-card-subtitle>
      <ion-card-title>到云项目小组</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      组员成员：吴嘉庆、黄梓琪、林栩、谢晓萍、梁远威、郑权
      <h2> 任务分配：</h2>
      <h2> 后台：黄梓琪、林栩；</h2>
      <h2> web：梁远威、谢晓萍；</h2>
      <h2> app：郑权、吴嘉庆；</h2>
     
      <h2>感谢池老师和李学长这学期的指导与帮助，非常感谢！！！</h2>
    </ion-card-content>
  </ion-card>
  <app-copyright [bottom]="'20px'"></app-copyright>
</ion-content>
